[Desktop Entry]
Name=TheFatRat 
Comment=Massive Exploiting Tool Revealed - An easy tool to generate backdoor & post exploitation attack.
Exec=xdg-open /usr/bin/thefatrat
Icon=/usr/share/icons/TheFatRat.ico
Terminal=true
Type=Application
StartupNotify=false
